/* Reset some default browser CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --calc-width: 22rem;
    --calc-height: 36rem;
    --main-padding: 0.35rem;

    --display-height: 5rem;
    --display-padding: 0.5rem;
    --display-font-size: 3rem;
    --display-margin-bottom: 3rem;

    --display-control-gap: 2rem;
}

html {
    background-color: black;
}

body {
    background-color: white;
    color: black;

    width: 100%;
    max-width: var(--calc-width);
    height: 100%;
    max-height: var(--calc-height);

    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

main {
    padding: var(--main-padding);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--display-control-gap);
}

.display {
    height: var(--display-height);
    padding: var(--display-padding);

    display: flex;
    justify-content: end;
    align-items: center;
}

.display-text {
    font-size: var(--display-font-size);
    font-weight: 500;
    text-wrap-mode: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
}