/* Reset some default browser CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --calc-width: 22rem;
    --calc-height: 36rem;
}

html {
    background-color: black;
}

body {
    background-color: white;
    color: black;

    width: 100%;
    max-width: var(--calc-width);
    height: 100%;
    max-height: var(--calc-height);

    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
